*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0657/3100/2634/files/circle-point-2_d5fe12a5-46d8-48cc-8861-d9281189712b.png?v=1730811287);
}
.inicio{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.37);
    position: relative;
    z-index: 2;
}
#textoinicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
#textoinicio h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.514);
}
#textoinicio p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}
#imginicio img{
    width: 30vw;
}
.aula{
    background-image: url(https://cdn.shopify.com/s/files/1/0657/3100/2634/files/circle-point-2_d5fe12a5-46d8-48cc-8861-d9281189712b.png?v=1730811287);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aula::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.151); 
    z-index: 1;  
    display: flex;
}
.aula .nomeAula{
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.37);
    position: relative;
    z-index: 2;
    width: 45vw;
    margin: 50px 20px;
    text-align: center;
    padding: 20px;
}
.blocoAula{
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.blocoAula h2, h3, li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blocoAula h3, li{
    margin-top: 20px;
}
.blocoAula p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}
.exemplo{
    background-color: pink;
    margin: 15px;
    padding: 20px;
}